.App {
  text-align: center;
}

.Resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*width: 300px;*/
}

.ResourceButton {
  border: none;
  min-width: 75px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: #E67E22;
  border-bottom: 3px solid #D35400;
  padding: 5px;
  margin-top: 10px;
  margin-left: 1px;
}

.Container {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.Attributes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*width: 300px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.Assets {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Asset {
  min-width: 120px;
}

.Mana {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  /*width: 300px; */
  width: 300px;
}

.ManaBox {
  background-color: orange;
  margin-bottom: 10px;
}

.Power {
  font-weight: bold;
  color: white;
}

.Header {
  background: #2C3E50;
  padding: 15px 0;
  margin-bottom: 10px;
}



.ResourceButton:disabled {
  opacity: .5;
}